# OpenAI
OPENAI_API_KEY = ""
OPENAI_BASE_URL = ""
# Cohere
COHERE_API_KEY = ""
# OpenRouter
OR_SITE_URL = ""
OR_APP_NAME = "LiteLLM Example app"
OR_API_KEY = ""
# Azure API base URL
AZURE_API_BASE = ""
# Azure API version
AZURE_API_VERSION = ""
# Azure API key
AZURE_API_KEY = ""
# Replicate
REPLICATE_API_KEY = ""
REPLICATE_API_TOKEN = ""
# Anthropic
ANTHROPIC_API_KEY = ""
# Infisical
INFISICAL_TOKEN = ""
# Novita AI
NOVITA_API_KEY = ""
# INFINITY
INFINITY_API_KEY = ""

# Development Configs
LITELLM_MASTER_KEY = "sk-1234"
DATABASE_URL = "postgresql://llmproxy:dbpassword9090@db:5432/litellm"
STORE_MODEL_IN_DB = "True"

# UI Settings
UI_CUSTOM_BRAND_NAME=""

# Email Settings
EMAIL_LOGO_URL="https://litellm-listing.s3.amazonaws.com/litellm_logo.png"
EMAIL_SUPPORT_CONTACT="support@berri.ai"
EMAIL_SIGNATURE=""
EMAIL_SUBJECT_INVITATION=""
EMAIL_SUBJECT_KEY_CREATED=""
EMAIL_SUBJECT_KEY_ROTATED=""
EMAIL_INCLUDE_API_KEY="true"
PROXY_BASE_URL="http://localhost:4000"
